/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 100px auto;
  font-family: var(--main-font), "Helvetica", "Arial", sans-serif;
  font-variation-settings: "wght" var(--weight-font-main);
  background-image: var(--gradient-liner-horizontal),
    var(--gradient-liner-vertical), var(--gradient-blackout);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 128px;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  gap: 52px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--weight-font-title);
  padding-inline: 10px;
  padding-block: 3px;
  border-bottom: 2px solid #000;
}

.card__wrap_image {
  position: relative;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  z-index: 2;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
  gap: 2px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible:not(.card__icon-button) {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
}

.card__icon-button {
  max-block-size: 38px;
  background-color: #fff;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: border 0.3s ease;
}

.card__icon-button::before {
  content: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
}

.button__save {
  gap: 8px;
  padding: 15px;
  min-width: 335px;
  min-height: 51px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
  position: fixed;
}

.dialog[open] .floppy {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.dialog__button {
  block-size: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter-brightness {
  filter: brightness(180%);
}

.filter-opacity {
  filter: opacity(60%);
}

.filter-grayscale {
  filter: grayscale(90%);
}

.filter-combo {
  filter: blur(2px) hue-rotate(290deg);
}

.filter-soft-invert {
  filter: invert(100%) saturate(70%);
}

.card__image-label:has(+ .filter-soft-invert) {
  mix-blend-mode: difference;
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-hue {
  filter: hue-rotate(45deg);
}

@media (width <= 376px) {
  .header {
    padding-block: 120px;
  }

  .card__image-label {
    top: 22px;
    right: 12px;
  }

  .card__content {
    padding-inline-end: 26px;
  }

  .button__save {
    flex-direction: column;
    min-width: 306px;
    min-height: 84px;
    padding-block: 15px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding: 32px 40px;
    max-inline-size: 341px;
  }
}
